.button-settings{
    width:auto;
    background-color:transparent;
    color:white;
    border:0;
    padding:9px 17px;
    line-height:17px;
    cursor:pointer;
    position:absolute;
    left:4.8rem;
    bottom:8rem;
}

.button-settings svg{
    width:30px;
    float:left;
    margin-right:5px;
    
}