@font-face {
    font-family: 'Marmalade';
    src: url('../../../src/assets/fonts/Marmalede.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Avenir Regular';
//     src: url('../../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'),
//          url('../../../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face{
//     font-family: 'Avenir Next Regular';
//     src: url('../../../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'),
//          url('../../../assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }