.result-container{
display: flex;
  align-items: center;
  margin: 2rem;
  cursor: pointer;
}

.result-image{
    height: 64px;
    width: 64px;
}

.song-container{
    margin-left: 3rem;
}

.title-text{
    color: #fff;
}

.artist-text{
    color: #f5f5f5;
}