.result-container {
  display: flex;
  align-items: center;
  margin: 2rem;
  cursor: pointer;

  &__image {
    height: 64px;
    width: 64px;
  }
}

.song-container {
  margin-left: 3rem;

  &__title {
    color: #fff;
  }

  &__artist {
    color: #f5f5f5;
  }
}
