
html, body {
    width: 100%; 
    height:100%; 
    overflow:hidden;
    box-sizing: border-box;
  }

.main-container{
    width: 98%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vid{
    position: relative;
    overflow: hidden;
    z-index: -1; 
  }

  .play{
    margin-left: 40rem;
  }

  .radio-stations__container{
    height: 75%;
    box-shadow: 1px 0px 0 white;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }
  
  .triangle{
    width: 7px;
    height: 10px;
    margin-right: 6px;
    // position: absolute;
    filter: invert(82%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(97%) contrast(86%);
    cursor:pointer;
  }

  .video-container2{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: -220px;
    left: -230px;
  }

  .logo{
    width: 150%;
    height: 10%;
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7px;
    transform: scale(1, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .audio-controls__container{
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 11rem;
    z-index: 1;
  }



  .pause-screen{
    // background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 7px;
  }

  .pause-screen2{
  display: none;
}

.pause-title{
  padding-top:25rem;
}

.timer{
  position: absolute;
  top:4rem;
  right:4rem;
  cursor: move;
  color: black;
  max-width: 400px;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  user-select: none;
  z-index:1;
}

.todo{
  position: absolute;
  top:-5rem;
  left:15rem;
  cursor: move;
  color: black;
  max-width: 400px;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  user-select: none;
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: transparent;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  z-index:1;
}

.button-62{
  position:absolute;
  right:0rem;
  bottom:6rem;
  right:2rem;
  z-index: 1;
  // align-items: center;
  background:transparent;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  // justify-content: center;
  line-height: 0.5em;
  max-width: 80px;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom:1rem;
}

.button-62 span {
  background-color: transparent;
  padding: 16px 13px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-62:hover span {
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
