
html, body {
    width: 100%; 
    height:100%; 
    overflow:hidden;
    box-sizing: border-box;
  }

.main-container{
    width: 98%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vid{
    position: relative;
    overflow: hidden;
    z-index: -1; 
  }

  .play{
    margin-left: 40rem;
  }

  .radio-stations__container{
    height: 75%;
    box-shadow: 1px 0px 0 white;
    text-align: center;
    display: flex;
    justify-content: end;
    z-index: 1;
  }
  
  .triangle{
    width: 7px;
    height: 10px;
    margin-right: 6px;
    // position: absolute;
    filter: invert(82%) sepia(0%) saturate(0%) hue-rotate(222deg) brightness(97%) contrast(86%);
    cursor:pointer;
  }

  .video-container2{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: -220px;
    left: -230px;
  }

  .logo{
    width: 150%;
    height: 10%;
    text-align: center;
    font-size: 32px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7px;
    transform: scale(1, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .audio-controls__container{
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 11rem;
    z-index: 1;
  }



  .pause-screen{
    // background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 1rem;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 7px;
  }

  .pause-screen2{
  display: none;
}

.pause-title{
  padding-top:25rem;
}

.timer{
  position: absolute;
  top:4rem;
  right:4rem;
  cursor: move;
  color: black;
  max-width: 400px;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  user-select: none;
  z-index:1000;
}

.todo{
  position: absolute;
  top:-5rem;
  left:15rem;
  cursor: move;
  color: black;
  max-width: 400px;
  border-radius: 20px;
  padding: 1em;
  margin: auto;
  user-select: none;
    display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: transparent;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  z-index:1000;
}

.chilllounge-btn{
  position:absolute;
  right:0rem;
  bottom:6rem;
  right:2rem;
  z-index: 1;

  &__btn{
    width:7rem;
    height:3rem;
    background:transparent;
    color:white;
    font-family:"Montserrat", sans-serif;
    font-size: 1rem;
    font-weight:600;
  }
}