
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .todo-row {
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: transparent;
    border: 2px solid #5d0cff;
      
    padding: 12px;
    border-radius: 5px;
    width: 80%;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  

  