@use '../../../styles/partials/global' as *;

.radio-list{
    min-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 3px;
  }

  .station{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: gainsboro;
    text-transform: uppercase;
    margin-top: 20px;
    text-shadow: 1px 1px rgb(0 0 0 / 70%);
    cursor: pointer;
  }

  .station:hover{
  color: white
}

  .radio-title{
    font-size: 33px;
    font-family: 'Marmalade';
    font-weight: 700;
    margin-top:1.5rem;
    color:pink;
  }