.title-login{
    color:white;
    padding-bottom:10rem;
    display:flex;
    justify-content: center;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000)1s both;
    z-index: 2;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 8rem;
    transform: scale(1, 0.9);
    color: #fff;
}

.login-button{
    width: 260px;
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background: #1db954;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    &:before{
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    &:active{
        color: #000
    }

    &:active:after{
        background: transparent;
    }

    &:hover:before{
        opacity: 1;
    }

    &:after{
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #1db954;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    &__link{
        color: #ffff;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
    }
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.button-62 {
    align-items: center;
    position:absolute;
    top:2rem;
    left:2rem;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 17px;
    justify-content: center;
    line-height: 0.5em;
    max-width: 80px;
    min-width: 100px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom:1rem;
  }
  
  .button-62:active,
  .button-62:hover {
    outline: 0;
  }
  
  .button-62 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-62:hover span {
    background: none;
  }