html,body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }
  
  .video-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
  }
  
  .hero-container{
    height: 150%;
    width: 150%;
    position: absolute;
    top: -25%;
    left: -40%;
    overflow: hidden;
    z-index: -100;
  }

  .overlay{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    opacity:0.2;
    z-index:1001;
  }

  .title{
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000)2s both;
    z-index: 2;
    position: relative;
    left: 65%;
    bottom: -200px;
    width: 100%;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 5rem;
    transform: scale(1, 0.9);
  }
  
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  